.pagina-interna {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 10% 50px;
    gap: 40px;
    background-color: #000;
    min-height: 80vh;
    flex-wrap: wrap;
}

.sobre-texto {
    flex: 1;
    min-width: 300px;
}

.sobre-texto h1 {
    color: #00d2d3;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: arial, sans-serif;
}

.sobre-texto p {
    color: #fff;
    line-height: 1.6rem;
    font-size: 1.1rem;
    max-width: 500px;
}

.sobre-card {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.card-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    padding: 15px;
    border-radius:  15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3 ease;
}

.card-img:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .pagina-interna {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
    }

    .sobre-texto p {
        margin:  0 auto;
    }
}