.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.sessao-intro {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 40px;
  color: white;
  padding: 0 20px;
}

.sessao-intro h1 {
  font-size: 2.5rem;
  color: #00d2d3;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.sessao-intro p {
  font-size: 1.1rem;
  color: #000000;
  font-style: italic;
  margin-bottom: 20px;
}

@media (max-width:768px) {
  .sessao-intro {
    margin-top: 20%;
  }

  .sessao-intro h1 {
    font-size: 1.8rem;
  }

  .sessao-intro p {
    font-size: 0.9rem;
  }
}

@keyframes entradaSuave {
  from {
    opacity: 0;
    transform: translateY(10px); /* Começa um pouco abaixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

/* Classe que aplicará a animação */
.animar-entrada {
  animation: entradaSuave 0.6s ease-out forwards;
}