* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font-family: sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  --turquesa:#00c2c7;
}


.navbar-container {

  background-color: #000;
  margin: 0 auto; 
  padding: 0; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 ;
}

.navbar {
  max-width: 100%;
  margin:auto; 
  color: var(--turquesa); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

.navbar-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0;
  padding-left: 0;
}



.navbar-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
  font-size: 1.1em;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0; 
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  transition: width 0.3s ease;
}

.navbar-links a:hover {
color: var(--turquesa);
}

.navbar-links a:hover::after {
  width: 100%; 
  background: var(--turquesa);
}

.navbar .btn-agende {
    padding: 10px 26px;
    background-color: #fff;
    color: #000 !important;
    padding: 10px 22px;
    border-radius: 999px;
    border: none;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
    cursor: pointer;
    height: 42px;

}

.navbar .btn-agende:hover {
    background-color: var(--turquesa);
    color: #000 !important;
    transform: translateY(-2px);
}

.navbar .btn-agende::after {
    display: none;
}

.menu-toggle {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #fff; 
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 0 15px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px; 
    left: 0;
    background-color: #000; 
    text-align: center;
    padding-bottom: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .navbar-links li {
    margin: 0;
  }

  .menu-toggle {
    display: block;
  }

  .logo-nav {
  height: 40px;
  width: auto;
  left: 20px;
  display: block;
}

}
.image-container {
  margin-top: 60px;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}


.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo-nav {
  height: 40px;
  width: auto;
  margin-left: 10px;
  display: block;
}
