* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar-container {
  height: 60px;
}
.navbar {
  height: 100%;
  padding: 0;
}
.image-container {
  margin-top: 60px;
}
